.container {
    display: block;
    position: relative;
    background-color: rgba(0,0,0,0.93);
    width: 90%;
    height: fit-content;
    margin: auto;
    padding-bottom: 2em;
    overflow: visible;
    z-index: 0;
}

    .container a {
        color: #AE9E69;
        filter: opacity(0.9);
        text-decoration: none;
    }

        .container a:hover {
            color: #e25022;
            text-decoration: underline;
            filter: brightness(1.25) opacity(0.9);
        }

    .container h2 {
        color: white;
        text-align: center;
        font-family: "OptimusPrinceps";
        padding-top: 4em;
        margin-top: -4em;
    }

.info {
    padding-left: 3em;
    margin-right: 3em;
    margin-top: 0.5em;
    padding-top: 0.5em;
}

.description {
    display: block;
    color: white;
    font-size: 20px;
    text-align: start;
    justify-content: start;
}

.table {
    display: flex;
    position:relative;
    flex-direction:column;
    border: 2px solid #AE9E69;
    height: fit-content;
    margin-top: 1em;
    width: 100%;
    justify-content: space-evenly;
}

    .table text {
        color: white;
        text-align: center;
    }

.table_row{
    position:relative;
    display:flex;
    flex-direction:row;
}

    .table_row:nth-child(odd) {
        background-color: #222226;
    }

    .table_row:not(:last-child) {
        border-bottom: 2px solid #555555;
    }

.table_item_link {
    position: relative;
    display: flex;
    border-right: 2px solid #555555;
    height: fit-content;
    text-decoration: none;
    width: 20%;
    float: left;
}

.table_item_link a{
    display:flex;
    font-size: 20px;
    padding-top: 1em;
    padding-bottom:1em;
    padding-left: 0.5em;
    padding-right: 0.25em;
    align-content:flex-start;
    text-align:center;
}

    .table_item_link a:hover > text {
        color: #e25022;
        filter: brightness(0.95);
    }

    .table_item_link a:hover > img {
        filter: brightness(0.9);
    }


    .table_item_link a text {
        color: #AE9E69;
        margin: auto;
        text-align: center;
    }

    .table_item_link a text:hover {
        color: #e25022;
        filter:brightness(0.95);
    }

    .table_item_link a img{
        height: 90px;
        width:80px;
        margin-top:auto;
        margin-bottom:auto;
    }

.table_item_info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-evenly;
}

.table_item_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}

    .table_item_info div:not(:last-child) {
        border-right: 2px solid #444444;
    }

    .table_item_info div text{
        font-size: 20px;
        text-align:center;
    }

.table_item_info div img {
    height: 25px;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25em;
}

.table_dropdown {
    margin:auto;
    position: absolute;
    background-color: #333333;
    border: 1px solid white;
    transform: translateY(2.75em) translateX(1.5em);
    visibility: hidden;
    padding: 0.25em;
    z-index: 2;
    width: fit-content;
}

#durability_icon:hover + #durability_container {
    visibility:visible;
    opacity:1;
}

#weight_icon:hover + #weight_container {
    visibility: visible;
    opacity: 1;
}

#regular_icon:hover + #regular_container {
    visibility: visible;
    opacity: 1;
}

#strike_icon:hover + #strike_container {
    visibility: visible;
    opacity: 1;
}

#slash_icon:hover + #slash_container {
    visibility: visible;
    opacity: 1;
}

#thrust_icon:hover + #thrust_container {
    visibility: visible;
    opacity: 1;
}

#magic_icon:hover + #magic_container {
    visibility: visible;
    opacity: 1;
}

#fire_icon:hover + #fire_container {
    visibility: visible;
    opacity: 1;
}

#regular_icon:hover + #regular_container {
    visibility: visible;
    opacity: 1;
}

#lightning_icon:hover + #lightning_container {
    visibility: visible;
    opacity: 1;
}

#bleed_icon:hover + #bleed_container {
    visibility: visible;
    opacity: 1;
}

#poison_icon:hover + #poison_container {
    visibility: visible;
    opacity: 1;
}

#curse_icon:hover + #curse_container {
    visibility: visible;
    opacity: 1;
}

#poise_icon:hover + #poise_container {
    visibility: visible;
    opacity: 1;
}

.sort{
    display:flex;
    flex-wrap: wrap;
    color:white;
    justify-content:center;
    font-size: 24px;
    font-family:"OptimusPrincepsSemiBold";
}

.sorting_buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1.5em;
    padding-bottom: 3em;
    justify-content: center;
    gap:1.5em;
}

    .sorting_buttons button {
        color: white;
        border: 2px solid #AE9E69;
        border-radius: 24px;
        font-size: 18px;
        padding: 0.5em;
        width: 8em;
        margin-top: 1em;
    }

    .sorting_buttons button:hover{
        filter: brightness(0.9);
        cursor:pointer;
    }

.button_helm {
    background-color: var(--button-helm-color, #333333);
}

    .button_helm:hover {
        background-color: var(--button-helm-hover, #222226);
    }

.button_chest {
    background-color: var(--button-chest-color, #333333);
}

    .button_chest:hover {
        background-color: var(--button-chest-hover, #222226);
    }

.button_gauntlets {
    background-color: var(--button-gauntlets-color, #333333);
}

    .button_gauntlets:hover {
        background-color: var(--button-gauntlets-hover, #222226);
    }

.button_legs {
    background-color: var(--button-legs-color, #333333);
}

    .button_legs:hover {
        background-color: var(--button-legs-hover, #222226);
    }

.button_full {
    background-color: var(--button-full-color, #333333) ;
}

    .button_full:hover {
        background-color: var(--button-full-hover, #222226);
    }

    @media (max-width: 1280px) {
        .container {
            width: 100%;
            padding-right: 0.25em;
            right: 0.25em;
        }

            .container h2 {
                margin-right: 1em;
            }

        .table {
            transform: translateX(-1em);
        }

        .info {
            margin-left: 0em;
            margin-right: 1.25em;
            margin-top: 0.5em;
            padding-top: 0.5em;
        }

        .table_item_link {
            font-size: 18px;
            width: 25%;
            margin-left: 0em;
            padding-left: 0em;
            padding-right: 0em;
            justify-content:center;
        }

        .table_item_link a{
            flex-direction:column;
        }

        .table_item_link a img{
            margin: auto;
        }

            .table_item_link a text {
                margin-top: 0.5em;
            }

        .sorting_buttons{
            transform:translateX(-0.75em);
        }
    }

    @media(max-width: 1024px) {
        .table {
            width:100%;
            overflow:auto;
        }

        .table_row{
            width:fit-content;
        }

        .table_item_link{
            width: 5.25em;
            padding-right:0.5em;
        }

        .table_item_info {
            width: fit-content;
        }
        
        .table_item_column{
            width:5em;
            
        }
             
    }

    @media(max-width: 800px){
        .table_item_column {
            width: 4.5em;
        }

        .table_item_info div text {
            font-size: 16px;
        }


       
    }