.container {
    display: block;
    position: relative;
    background-color: rgba(0,0,0,0.93);
    width: 90%;
    max-width:100%;
    height: fit-content;
    margin: auto;
    padding-bottom: 2em;
    overflow: visible;
    z-index: 0;
}

    .container a {
        color: #AE9E69;
        filter: opacity(0.9);
        text-decoration: none;
    }

        .container a:hover {
            color: #e25022;
            text-decoration: underline;
            filter: brightness(1.25) opacity(0.9);
        }

    .container h2 {
        color: white;
        text-align: center;
        font-family: "OptimusPrinceps";
    }

.info {
    padding-left: 3em;
    margin-right: 3em;
    margin-top: 0.5em;
    padding-top: 0.5em;
}

.body_header {
    color: white;
    font-family: 'OptimusPrinceps';
    font-size: 24px;
    padding-left: 1em;
    padding-top: 4em;
    margin-top: -4em;
    margin-bottom: 1em;
    text-align: center;
}

.body_sub_header {
    color: white;
    font-size: 22px;
    padding-left: 1em;
    padding-top: 4em;
    margin-top: -5em;
    font-family: 'OptimusPrinceps';
}

.description {
    display: block;
    color: white;
    font-size: 20px;
    text-align: start;
    justify-content: start;
}

.body_text {
    display: block;
    color: white;
    font-size: 20px;
    margin-top: 1em;
    padding-left: 1em;
    padding-bottom: 2em;
    text-align: start;
    justify-content: start;
}

.info_table {
    display: flex;
    flex-direction: column;
    border: 3px solid #444444;
    font-size: 18px;
    height: fit-content;
    float: right;
    margin-left: 3em;
    margin-bottom: 2em;
    width:fit-content;
    max-width: 90vw;
}

.info_table_item {
    display: flex;
    flex-direction: row;
    color: white;
    border-top: 3px solid #444444;
}

.info_table_header {
    margin-left: 1em;
    padding-right: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-right: 3px solid #444444;
    width: 30%;
    max-width: 90vw;
}

.info_table_item_details {
    margin-left: 1em;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    width: 70%;
}

.cover_container{
    display:flex;
    border-top: 3px solid #444444;
    width: 100%;
    max-width:90vw;
}

.cover {
    padding: 0.5em;
    filter: brightness(1.0);
    max-width: 100%;
}

.gallery_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    gap: 3em;
    justify-content: space-evenly;
}

.gallery_item {
    display: flex;
    flex-direction: column;
    width: 31%;
    height: auto;
}

    .gallery_item a {
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        filter: brightness(1);
    }

        .gallery_item a:hover {
            filter: brightness(1.2);
        }

        .gallery_item a img {
            margin: auto;
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
            vertical-align: middle;
        }

    .gallery_item text {
        color: white;
        font-size: 20px;
        text-align: center;
   
    }

.trailer_container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.trailer_row {
    display: flex;
    gap: 3em;
    margin: auto;
    margin-top: 1em;
    width: 100%;
    justify-content: space-evenly;
}

    .trailer_row iframe {
        border: 3px solid #333333;
        height: 252px;
        width: 448px;
        max-width: 85%;
    }

.external {
    margin-left: 3em;
    line-height: 2.5em;
}

    .external li {
        color: white;
        font-size: 24px;
    }

    .external a {
        font-size: 24px;
    }

    .external text {
        color: white;
        font-size: 24px;
    }

@media(max-width: 1600px) {
    .gallery_item{
        width: 40%
    }
}

@media(max-width: 1280px) {
    .container {
        width: 100%;
        padding-right: 0.25em;
        right: 0.25em;
    }

    .trailer_container {
        gap: 2em;
    }

    .trailer_row {
        position: relative;
        flex-direction: column;
        width: 100%;
        margin: auto;
        margin-right: auto;
        gap: 2em;
    }

        .trailer_row iframe {
            align-self: center;
        }
}

@media(max-width: 1024px) {
    .info_table {
        display: flex;
        float: none;
        margin: auto;
        margin-left: auto;
        margin-right:auto;
        margin-bottom: 2em;
    }
    .cover_container{
        border-top:3px solid #444444;
        width:100%;
        justify-content:flex-start;
    }
    .cover{
        display:flex;
        align-self:center;
        margin:auto;
        
    }
    .gallery_item {
        width: 45%
    }

}

@media(max-width: 800px){
    .gallery_row{
        height:150vh;
        flex-direction: column;
    }
    .gallery_item{
        width:60%;
        flex-direction: column;
    }
}