.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    gap: 3em;
    justify-content: space-evenly;
    margin-top: 3em;
}

.gallery_item {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
    max-height: 60vh;
    margin-bottom: 1em;
}

    .gallery_item img {
        margin:auto;
        display:block;
        height:fit-content;
        max-height: 85%;
        width:100%;
        max-width:fit-content;
        min-width: 50%;
        filter: brightness(1);
        transition: all 0.3s ease-in-out;
        border: 2px solid #e25022;
        object-fit:contain;
    }

        .gallery_item img:hover {
            transform: scale(1.025);
            cursor: pointer;
        }

    .gallery_item p {
        color: white;
        font-size: 1.5rem;
        text-align: center;
        font-weight:500;
        margin-top: 1em;
        margin-bottom:0;
    }

@media(max-width: 64em) {
    .gallery_item{
        width:40%;
    }
}

@media(max-width: 50em) {
        .gallery_item p {
            font-size: 1.35rem;
        }
}

@media(max-width:40em){
    .gallery_item{
        width:100%;
    }
}

@media(max-width: 25em){
    .gallery_item p{
        font-size: 1rem;
    }
}