.home {
    position: relative;
    background-color: rgba(0,0,0,0.93);
    width: 90%;
    min-height: 90vh;
    margin: auto;
    padding-bottom: 2em;
    overflow: visible;
    z-index: 0;
}

.welcome {
    position: relative;
    display: flex;
    color: white;
    font-size: 100px;
    font-family: OptimusPrinceps;
    text-align: center;
    margin-top: auto;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.5em;
    justify-content: center;
}

.description {
    position: relative;
    display: flex;
    color: white;
    font-size: 48px;
    font-family: OptimusPrinceps;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top:0.5em;
    padding-top: 0.5em;
    text-align: center;
    justify-content: center;
}

.row {
    font-size: 32px;
    font-family: OptimusPrinceps;
    display: flex;
    flex-direction:row;
    padding-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    gap: 3em;
}

.row:first-child{
    left: 1em;
}

.menu_item {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
    flex: 1 1 0px;
}

    .menu_item div{
        margin: auto;
        height: 100%;
    }

    .menu_item div div{
        margin-bottom:0.25em;
        height: fit-content;
    }

    .menu_item div div text{
        
    }

    .menu_item div div img {
        position:absolute;
        height: 3rem;
        width: 3rem;
        transform: translateY(-.4em) translateX(-2.5em);
    }

    .menu_item text{
        color: white;
    }

    .menu_item a {
        color: #AE9E69;
        filter: opacity(0.9);
        text-decoration: none;
    }

        .menu_item a:hover {
            color: #e25022;
            text-decoration: underline;
            filter: brightness(1.25) opacity(0.9);
        }

    .menu_item ul {
        position: center;
        margin: auto;
        padding: 0;
        flex: 1 1 0px;
        
    }
        .menu_item ul li {
            font-size: 20px;
            display: inline-block;
            
        }

            .menu_item ul li:not(:last-child)::after {
                color: gray;
                content: " ♦ ";
                text-align: center;
                margin-left: 0.25em;
                margin-right: 0.5em;
            }

.title {
    position: relative;
    display: flex;
    color: white;
    font-size: 28px;
    font-family: OptimusPrinceps;
    text-align: center;
    margin-top: auto;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.5em;
    justify-content: flex-start;
}

.blank {
    display: flex;
    position: relative;
    background-color: rgba(0,0,0,0);
    margin-top: 7em;
    height: 8em;
}

.spacer {
    height: 4em;
}

.header_divider {
    margin: auto;
    margin-top: 40px;
    width: 80%;
    position: relative;
}

    .header_divider .shadow {
        color: red;
        overflow: hidden;
        height: 20px;
    }

        .header_divider .shadow:after {
            content: '';
            display: block;
            margin: -25px auto 0;
            width: 100%;
            height: 25px;
            border-radius: 125px/12px;
            box-shadow: 0 0 8px white;
        }

@media(max-width: 85.375em) {
    .home {
        width: 100%;
        padding-right: 0.25em;
        right: 0.25em;
    }

    .row {
        flex-direction: column;
        gap: 2em;
        padding-bottom: 1em;
    }

    .menu_item {
        flex-direction: row;
    }

        .menu_item img {
            height: 3rem;
            width: 3rem;
            margin-right: auto;
            padding-right: 1em;
            transform: translateX(0em)
        }

    .header_divider {
        display: none;
    }
}

@media(max-width: 48em) {
    .welcome {
        font-size: 60px;
    }

    .description {
        font-size: 36px;
    }
}