.container {
    position: relative;
    background-color: rgba(0,0,0,0.93);
    width: 90%;
    min-height: 90vh;
    margin: auto;
    padding-bottom: 2em;
    height: 100%;
    overflow: visible;
    z-index: 0;
}

.description {
    position: relative;
    display: flex;
    color: white;
    font-size: 48px;
    font-family: OptimusPrinceps;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    padding-top: 0.5em;
    text-align: center;
    justify-content: center;
}

.title {
    position: relative;
    display: flex;
    color: white;
    font-size: 24px;
    font-family: OptimusPrinceps;
    text-align: center;
    margin-top: auto;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.5em;
    justify-content: flex-start;
}

.row {
    color: #9B8865;
    font-size: 32px;
    font-family: OptimusPrinceps;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0.5em;
    padding-top: 0.5em;
    justify-content: center;
    text-align:center;
}

    .row a {
        color: #AE9E69;
        filter: opacity(0.9);
        text-decoration: none;
    }

        .row a:hover {
            color: #e25022;
            text-decoration: underline;
            filter: brightness(1.5) opacity(0.9);
        }

    .row ul {
        justify-content:center;
        margin: auto;
        padding: 0;
        flex: 1 1 0px;
    }

        .row ul li {
            display: inline-block;
        }

            .row ul li:not(:last-child)::after {
                color: gray;
                content: " ♦ ";
                text-align: center;
                margin-left: 0.25em;
                margin-right: 0.5em;
            }

.spacer{
    height:4em;
}

@media(max-width: 1280px) {
    .container {
        width: 100%;
        padding-right: 3em;
    }
}