@font-face {
    font-family: 'OptimusPrinceps';
    src: url('/fonts/OptimusPrinceps.woff2') format('woff2'), url('/fonts/OptimusPrinceps.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OptimusPrincepsSemiBold';
    src: url('/fonts/OptimusPrincepsSemiBold.woff2') format('woff2'), url('/fonts/OptimusPrincepsSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    margin:0;
    white-space:nowrap;
    padding:0;
}

.navbar_nav {
    align-items: center;
    background-color: #333;
    display: inline-flex;
    gap: 2em;
    justify-content: flex-start;
    list-style:none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    width: 100vw;
    justify-content: flex-start;
}

.nav_item {
    color: darkgray;
    position:relative;
    width: 10rem;
}


.nav_item:hover{
    cursor:pointer;
}
    .nav_item:hover>.nav_icon{
        filter:brightness(1.8);
        cursor:pointer;
    }

    .nav_item:hover > .nav_text {
        filter: brightness(1.8);
        cursor: pointer;
    }

.nav_icon {
    margin-right: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
    user-select: none;
}

.nav_text {
    user-select: none;
    vertical-align:middle;
    font-size: 18px;
    font-family: OptimusPrincepsSemiBold;
}

.logo_link{
    display: contents;
}

.logo{
    height:3.4em;
    width:8.7em;
    margin-top: 0.3rem;
}

.logo:hover{
    filter: brightness(1.8);
}

.nav_dropdown {
    position: absolute;
    pointer-events: none;
    animation: rotateMenu 500ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }

    70% {
        transform: rotateX(20deg)
    }

    100% {
        transform: rotateX(0deg)
    }
}

.nav_dropdown:hover{
    cursor:default;
}

    .nav_dropdown ul {
    }

        .nav_dropdown ul a {
            font-family: OptimusPrinceps;
            font-size: 16px;
            transform: translateX(-25%);
            background-color: black;
            border-width: 1px;
            border-style: solid;
            border-color: dimgray;
            box-sizing: border-box;
            justify-items: center;
            display: grid;
            width: 11.75em;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 5px;
            padding-right: 5px;
            color: white;
            text-decoration: none;
            white-space: nowrap;
            user-select: none;
            pointer-events: all;
        }

            .nav_dropdown ul a:hover {
                filter: brightness(0.7);
                background-color: dimgray;
            }