.grad {
    background: rgba(85,85,85,0.93);
    background: linear-gradient(180deg, rgba(51,51,61,0.93) 0%, rgba(0,0,0,0.93) 100%);
    height: 8em;
    width: 90%;
    position: relative;
    margin: auto;
    margin-top:40px;
}


.spacer {
    height: 4em;
}

.title {
    position: relative;
    display: flex;
    color: white;
    font-size: 28px;
    font-family: OptimusPrinceps;
    text-align: center;
    margin-top: auto;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.5em;
    justify-content: flex-start;
}

.title_divider {
    margin: auto;
    margin-top: -20px;
    width: 100%;
    position: relative;
}

    .title_divider .shadow {
        color: red;
        overflow: hidden;
        height: 20px;
    }

        .title_divider .shadow:after {
            content: '';
            display: block;
            margin: -25px auto 0;
            width: 100%;
            height: 25px;
            border-radius: 125px/12px;
            box-shadow: 0px 0px 8px white;
        }

.header_divider {
    margin: auto;
    margin-top: 40px;
    width: 80%;
    position: relative;
}

    .header_divider .shadow {
        color: red;
        overflow: hidden;
        height: 20px;
    }

        .header_divider .shadow:after {
            content: '';
            display: block;
            margin: -25px auto 0;
            width: 100%;
            height: 25px;
            border-radius: 125px/12px;
            box-shadow: 0 0 8px white;
        }

.burger {
    position:absolute;
    top: 1em;
    left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

    .burger:focus{
        outline:none;
    }

        .burger div{
            width: 2rem;
            height: 0.25rem;
            background: white;
            border-radius: 10px;
            transition: all 0.3s linear;
            position: relative;
            transform-origin: 1px;
        }

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }

    70% {
        transform: rotateX(20deg)
    }

    100% {
        transform: rotateX(0deg)
    }
}

@media(max-width: 85.375em) {
    .grad {
        margin-left:auto;
        width: 100vw;
    }
}

@media(max-width: 37.5em) {
    .grad {
        height: 4em;
    }
}
