@font-face {
    font-family: 'OptimusPrinceps';
    src: url('../public/fonts/OptimusPrinceps.woff2') format('woff2'), url('/public/fonts/OptimusPrinceps.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OptimusPrincepsSemiBold';
    src: url('../public/fonts/OptimusPrincepsSemiBold.woff2') format('woff2'), url('/public/fonts/OptimusPrincepsSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    background-attachment: fixed;
    background-image: url(https://images6.alphacoders.com/390/390190.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
    overflow-y: auto;
}
