.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width:100%;
    gap: 2em;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-left:auto;
    margin-right:auto;
}

.gallery_item{
    width: 448px;
}

.gallery_item iframe {
    display:flex;
    height: 252px;
    width: 448px;
    max-width:100%;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
}

.gallery_item p {  
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 0.5em;
    width:100%;
    white-space:normal;
    justify-content:center;
}

@media(max-width: 40em) {
    .gallery{
        gap:1em;
        margin-left:auto;
        margin-right:auto;
        width:90%;
    }
    .gallery_item p {
        font-size: 18px;
    }
}

@media(max-width: 25em) {
}
